#title{
    background-color: #ff4c68;
    color: #fff;

}

#heading{
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;}
h1{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding:  1% 10%;
}

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

/* downloads button  */

.download-button{
    margin: 5% 3% 5% 0;
}

.title-image{
    width: 50%;
   
    transform: rotate(30deg);
}