 body{
  text-align: center;
 }

h3 {
  
  font-size: 2.5rem;
  margin-left: 50px;
  margin-right: 50px;
}

/* Headings */
.bigHeading{
  font-size: 5rem;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-family: "Montserrat", sans-serif;
  text-align: left;
}




#title {
  background-color: #ff4c68;
  color: #fff;
}



.colored-section{
  background-color: #ff4c68;
  color: #fff;
}

/* navigation bar  */

.container-fluid {
  padding: 3% 10%;
}

.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
  font-size: 20px;

}


/* downloads button  */

.download-button {
  margin: 5% 3% 5% 0;
}

/* .title-image */
.title-image {
  width: 50%;
  transform: rotate(30deg);
}

/* features */


#feature-box {
  padding: 4.5%;
 
}
.i-features-images {
  color: #ef8172;
  margin-bottom: 1rem;
}


.i-features-images:hover {
  color: #ff4c68;
}

/* footer  */
p {
  color: #8f8f8f;
}  



/* testimonial */

#testimonials {
   background-color: #ef8172;
  
}
.testimonial-image {
  width: 10%;
  border-style: none;
  border-radius: 50%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  
}

.press-logo {
  margin: 20px 20px 50px;
  width: 17 0px;
}



/* pricing */

.Labrador:hover,
.Mastiff:hover,
.Chihuahua:hover {
  background-color: #fd2848;
  border-color: #fd2848;
}

.Labrador,
.Mastiff {
  background-color: #ff4c68;
  border-color: #ff4c68;
}

/* cta  */


.button-cta {
  margin: 20px;
}
.button-cta:hover {
  background-color: #ffffff;
}

/* footer */

#footer {
  margin: 50px;
}


.social-btns{
  padding-top: 100px;
  padding-bottom: 15px;
}

.copyright{
  padding-bottom: 100px;
}
/* media query */

@media only screen and (max-width: 768px){
 #title {
  text-align: center;
  }
  .title-image {
    width: 50%;
    transform: rotate(0deg);
  }
  .nav-item{
text-align: right ;
  }
}















/* 

.div2, #heading{
  color: red;
} */