#title{
    background-color: #ff4c68;
    color: #fff;

}

#heading{
    font-family: 'Oswald', sans-serif;
    font-family: 'Montserrat', sans-serif;}
h1{
    font-size: 3rem;
    line-height: 1.5;
}

.container-fluid{
    padding:  1% 10%;
}

.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}

/* downloads button  */

.download-button{
    margin: 5% 3% 5% 0;
}

/* .title-image */
.title-image{
    width: 50%;
   
    transform: rotate(30deg);
}

/* features */
h3{
  
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    margin-left: 50px;
    margin-right: 50px;
}
#features{
   padding: 7% 15%;
}
#feature-box{
    padding: 4.5%;
}
.i-features-images{
    color: #ef8172;
    margin-bottom: 1rem;

}
p{
    color: #8f8f8f;
}
.i-features-images:hover{
    color: #ff4c68;
}