 body{
  text-align: center;
 }
.bigHeading{
  font-size: 3rem;
  line-height: 1.5;
  font-family: "Oswald", sans-serif;
  font-family: "Montserrat", sans-serif;
}
 
h3 {
  
  font-size: 2.5rem;
  margin-left: 50px;
  margin-right: 50px;
}


#title {
  background-color: #ff4c68;
  color: #fff;
}
/* 
#heading, h1,h2,h3,h4 {
  font-family: "Oswald", sans-serif;
  font-family: "Montserrat", sans-serif;
} */

.container-fluid {
  padding: 3% 10%;
  color: #fff;
}

.navbar {
  padding: 0 0 4.5rem;
}
.nav-item {
  padding: 0 18px;
  font-size: 20px;
  font-weight: bold;
}

/* downloads button  */

.download-button {
  margin: 5% 3% 5% 0;
}

/* .title-image */
.title-image {
  width: 50%;
  transform: rotate(30deg);
}

/* features */

#features {
  padding: 7% 15%;
  background-color: #fff;
}
#feature-box {
  padding: 4.5%;
}
.i-features-images {
  color: #ef8172;
  margin-bottom: 1rem;
}
p {
  color: #8f8f8f;
}
.i-features-images:hover {
  color: #ff4c68;
}

/* testimonial */

#testimonials {
   background-color: #ef8172;
  color: #fff;
}
.testimonial-image {
  width: 10%;
  border-style: none;
  border-radius: 50%;
  margin: 20px;
}
.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  
}

.press-logo {
  margin: 20px 20px 50px;
  width: 17 0px;
}

/* carousel */

/* pricing */

#pricing {
  padding: 7% 15%;
}
.Labrador:hover,
.Mastiff:hover,
.Chihuahua:hover {
  background-color: #ff4c68;
  border-color: #ff4c68;
}
.Labrador,
.Mastiff {
  background-color: #ef8172;
}

/* cta  */

#cta {
  background-color: #ff4c68;

  color: #fff;
}

.button-cta {
  margin: 20px;
}
.button-cta:hover {
  background-color: #ffffff;
}

/* footer */

#footer {
  margin: 50px;
}


.social-btns{
  padding-top: 100px;
  padding-bottom: 15px;
}

.copyright{
  padding-bottom: 100px;
}
/* media query */

@media only screen and (max-width: 768px){
 #title {
  text-align: center;
  }
  .title-image {
    width: 50%;
    transform: rotate(0deg);
  }
  .nav-item{
text-align: right ;
  }
}